/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
  padding: 20px;

}

.search-bar {
  margin: 20px;
}

input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
}

.image-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  width: 100%;

}

.image-grid img {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border-radius: 4px;
}
/* 
.image-editor {
 
 

  gap: 30px;
  margin-top: 20px;
 
  border: 2px solid purple;

}

.img-div{
  border: 2px solid blue;
}

.button-div{
  border: 2px solid black;
} */

.container{
  
  display: flex;
  width: 80%;
  justify-content: space-between;
}